/* used to be middle, but would cause form-groups to mis align when errors were present */
.form-inline .form-group {
	vertical-align: top;
  margin-top: 15px;
}

.typeahead {
	border-radius: 0;
}

.twitter-typeahead, 
.tt-dropdown-menu, 
.twitter-typeahead .form-control,
.submit {
  width: 100%;
}

.task-input-wrapper {
  padding-right: 7.5px;
}

.start-wrapper {
  padding-left: 7.5px;
}

.typeahead,
.tt-hint {	
	padding: 4px 12px;
}

.typeahead {
  background-color: #fff;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  margin-top: -1px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /*-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  */-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 12px;
  /*font-size: 18px;*/
  /*line-height: 24px;*/
  font-size: 14px;
  line-height: 1.42857143
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

#hoursInput, #minutesInput {
  width: 50px;
}